*, 
*:after, 
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height:100%;
    width: 100%;
    scroll-behavior: smooth;
    font-family: Arial;
    /* color: #efefef; */
    background-color: rgb(255, 248, 238);
    font-size: 3vh;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formContainer {
    height: 50vh;
    width: 40vh;
    background-color: wheat;
    border: solid 0.3vh;
    border-radius: 4vh;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
}

.formDiv {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3vh;
}

.formField {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.formField input {
    width: 80%;
    height: 5vh;
    border-radius: 1vh;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px;

}

.formSubmit {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 7vh;
  width: 80%;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 3vh;
}

.formSubmit:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.formSubmit:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.formSubmit:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}